@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    color: white;
    background-color: rgb(26, 26, 26);
    padding-left: 10px;
}